# Default NAMESPACE created by R
# Remove the previous line if you edit this file

importFrom("grDevices", "dev.cur", "dev.list", "dev.off", "pdf",
               "postscript", "rainbow")
importFrom("graphics", "abline", "axis", "legend", "lines", "par",
               "points", "title")
importFrom("stats", "approxfun")
importFrom("utils", "read.table", "write.table")

# Export all names
exportPattern(".")
